<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browserpath" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" />
    <add key="RepositoryType" value="Reader.SQLite.Repository" />
  </appSettings>
  <connectionStrings>
    <add name="sqlite" connectionString="data source=..\..\..\db" />
  </connectionStrings>
</configuration>